@import 'cover.scss';
@import 'information.scss';

body {
	margin: 0;
	padding: 0;
	font-family: monospace;
  // background-color: #000000;
  // color: white;
}


@media only screen and (min-width: 600px) {
    body {
      font-size: 12px;
    }
  }
@media only screen and (min-width: 900px) {
    body {
      font-size: 14px;
    }
  }
@media only screen and (min-width: 1200px) {
    body {
      font-size: 16px;
    }
  }